<html>
  <head></head>
  <body>
    <form action='#'>
      <h2 class>註冊</h2>
      <ul>
        <li>
          <label for='username'>username:</label>
          <input type='text' name='username' id='username'>
        </li>
        <li>
          <label for='password'>password:</label>
          <input type='password' name='password' id='password'>
        </li>
        <li>
          <label for='email'>email:</label>
          <input type='email' name='email' id='email'>
        </li>
        </ul>
        <input type='submit' value='註冊'></input>
    </form>
  </body>
</html>
